@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--Very-dark-blue-mainBG);
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    margin: 0% auto;
    width: 375px;
    /* border: thin solid white; */
}
main {
    /* border: thin solid white; */
    background-color: var(--Very-dark-blue-cardBG);
    width: 330px;
    height: 580px;
    border-radius: 15px;
    margin: 60px auto;
}
main .container {
    /* border: thin solid white; */
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.image {
    margin-top: 25px;
    border-radius: 16px;
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
}

.icon-view {
    position: absolute;
    width: 290px;
    height: 288px;
    top: 90px;
    border-radius: 16px;
    background-color: hsla(178, 100%, 50%, 0.5);
    opacity: 0;
}
.hover_img {
    position: absolute;
    /* opacity: 0; */
    margin: 124px 120px;
}
.icon-view:hover {
    cursor: pointer;
    opacity: 1;
}

h2 {
    color: var(--White);
    padding-top: 15px;
    font-weight: 600;
    font-size: 1.2em;
}
.description h2:hover {
    color: var(--Cyan);
    cursor: pointer;
}
.description p {
    margin-top: 15px;
    color: var(--Soft-blue);
    font-size: 16px;
    line-height: 25px;
    font-weight: 200;
}
.datos {
    margin-top: 16px;
    height: 30px;
    display: flex;
    justify-items: center;
}
.number {
    color: var(--Cyan);
    font-size: 15px;
    margin-left: 10px;
}
.icon-clock {
    margin-left: 80px;
}
.time {
    margin-left: 8px;
    color: var(--Soft-blue);
    font-size: 16px;
    margin-bottom: 20px;
}
.franja {
    background-color: var(--Very-dark-blue-line);
    height: 1px;
    margin-bottom: 16px;
}
.creation {
    display: flex;
}
.logo-img {
    width: 35px;
    height: 35px;
    border: thin solid white;
    border-radius: 50%;
}
.logo-img img {
    width: 100%;
}
.infor {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
.azul {
    color: var(--Soft-blue);
}
.blanco {
    color: var(--White);
    margin-left: 8px;
}
.blanco:hover {
    color: var(--Cyan);
    cursor: pointer;
}
/*      foother      */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
/* @media (min-width: 960px) {
    main {
        width: 350px;
        height: 600px;
    }
} */
